* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 
main {
  background-color: #f1f1f1;
}

.film-cover {
  position: relative;
}

.film-cover img {
  width: 100%;
  height: auto;
  margin-top: 60px;
}

.sn-buttons {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 5px;
}

.bottom-cover {
  background-color: #f1f1f1;
}

.film-info-container {
  border: 0.5px solid grey;
  width: 80%;
  margin-left: 15px;
  background-color: white;
  margin-top: -5px;
}

.film-information {
  display: flex;
  flex-direction: row-reverse;
}

.film-information p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.film-main-information {
  display: flex;
  flex-flow: row wrap;
  margin: 20px 0;
}

.film-main-information p {
  margin: 0 7px;
}

.icons-data {
  display: flex;
  flex-flow: row nowrap;
  margin-right: 10px;
  align-items: center;
}

.film-info-lang {
  margin: 0 10px;
}

.lang-subs-header {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.button-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-text p {
  margin-left: 10px;
}

table {
  table-layout: fixed;
}

table th,
td {
  word-wrap: break-word;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 10px 10px;
}

table td {
  color: #737373;
}

.film-lang-header .audio,
.subs {
  text-align: start;
}

.film-background-data {
  margin: 0 10px;
}

.film-background-data-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
}

.casting-slide {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

.casting-slide::-webkit-scrollbar {
  width: 0;
}

.casting-person {
  display: flex;
  flex-direction: row;
}

.casting-person img {
  width: 80px;
  height: 120px;
  margin: 0 5px;
}

.casting-person p {
  text-align: center;
  font-family: sans-serif;
  color: #737373;
  font-size: 12px;
}

.noDecoration,
a:link,
a:visited {
  text-decoration: none;
}

.all-scores {
  display: flex;
  flex-direction: row;
}
.score-circles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-genres {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.genre-container {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  padding-bottom: 20px;
}

.vertical-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical-align p {
  text-decoration: none;
  color: black;
}
.genre-background {
  background-color: #dddddd;
  width: 100px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cinema-top-scifi-movies-films {
  height: 360px;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  padding-top: 5px;
}

.cinema-top-scifi-movies-films a {
  margin: 0 5px;
}

.cinema-top-scifi-movies-films img:hover {
  outline: 5px solid yellow;
}

.white-icon {
  color: white;
}

.white-icon:hover {
  color: yellow;
}

.material-icons.md-72 {
  font-size: 72px;
}

.cover-icons {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.cover-film-info {
  position: absolute;
  bottom: 30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.trailer-shortcut {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 22px;
  border-radius: 72px;
  z-index: 99;
  cursor: pointer;
}

.add-wishlist-shortcut {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 22px;
  border-radius: 72px;
  z-index: 99;
  cursor: pointer;
}

.cover-icons p {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  margin: 20px 0;
  text-shadow: 2px 2px black;
}

.cover-score-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cover-score-container > img {
  width: 50px;
  height: auto;
  margin: 0 10px 0 0;
}

.cover-score-container > p {
  color: #edc61e;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.cover-film-title {
  margin: 20px 0;
  color: white;
  font-family: sans-serif;
  font-size: 60px;
}

.cover-user-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.watch-now {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 344px;
  height: 54px;
  background-color: #fbe100;
  padding: 0 14px;
  margin: 0 5px;
}

.watch-now p {
  font-family: sans-serif;
  font-weight: 600;
}

.watch-now span {
  font-family: sans-serif;
  font-size: x-small;
}

.voucher {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 344px;
  height: 54px;
  border: 2px solid #fbe100;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.7);
}

.voucher p {
  color: #fbe100;
  font-family: sans-serif;
  font-weight: 700;
}

.film-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.other-movies {
  margin: 0 15px;
}
.other-movies h5 {
  margin: 20px 0;
  font-size: 25px;
  font-family: sans-serif;
}

.score-header,
.genre-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
}

.cover-film-info {
  bottom: 10%;
}
.visible-text{
  color: black;
}
.sn-buttons p{
  color: black;
}


@media screen and (max-width: 910px) {
  .film-info-container {
    width: 100%;
    margin-left: 0;
    border: none;
    border-top: 0.5px solid grey;
    border-bottom: 0.5px solid grey;
  }
  .film-information {
    display: flex;
    flex-direction: column;
  }

  .sn-buttons {
    flex-direction: row;
    align-items: center;
    height: 80px;
    justify-content: center;
  }

  .film-data-resume {
    display: flex;
    flex-direction: column;
  }

  .film-info-lang {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .button-text p, .cover-score-container, .cover-icons p {
    display: none;
  }
  .cover-film-title {
    font-size: 30px;
  }
}
@media screen and (max-width: 600px) {
  .watch-now, .voucher{
    width: 229px;
  }
  .cover-film-info{
    bottom: 3%;
  }
  .science-fiction{
    display: none;
  }
}
@media screen and (max-width: 700px) {
  table{
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .film-cover img {
    margin-top: 0;
  }
}

@media only screen and (max-width: 1249px) {
  .material-icons.md-72 {
    font-size: 36px;
  }

  .trailer-shortcut {
    padding: 18px;
    border-radius: 36px;
  }
  .add-wishlist-shortcut {
    padding: 18px;
    border-radius: 36px;
  }

  h2 {
    font-size: 40px;
  }

  .cover-user-buttons {
    flex-direction: column;
  }

  .cover-user-buttons > div {
    margin: 5px 0;
  }
}
